@import "tailwindcss";

@theme {
  --font-sans: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}

@media print {
  /* Oculta absolutamente todo por defecto */
  body * {
    visibility: hidden;
  }

  /* Muestra solo el contenido de la orden y todo lo que esté dentro */
  #area-impresion,
  #area-impresion * {
    visibility: visible;
  }

  /* Lo posiciona ocupando toda la hoja, ya sin el espacio del sidebar */
  #area-impresion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}